    <div id="topNav">
      {% if page.nonmobile %}
      <div class="container">
        <!-- <div class="left">
          <p id="headerStatus">
          <span class="statusOffline">
            <i class="fa fa-close"></i>&nbsp;DH Servers
          </span>
          &nbsp;|&nbsp;
          <span class="statusOffline">
            <i class="fa fa-close"></i>&nbsp;MDH Servers
          </span>
          &nbsp;|&nbsp;
          <span class="statusOffline">
            <i class="fa fa-close"></i>
            Solder Server
          </span>
          &nbsp;|&nbsp;
          <span class="statusOffline">
            <i class="fa fa-close"></i>
            Global Cloud Server
          </span>
        </div> -->
        <div class="right">
          <a class="hvr-icon-buzz-out" href="https://wiki.digitalhazards.net">Our Wiki</a>
          <a class="hvr-icon-float-away" href="https://mail.digitalhazards.net">Mail Server</a>
        </div>
      </div>
      {% endif %}

      <div id="nav">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                <img alt="DH" src="/images/icon-smaller.png" style="width:80px;height:80px;">
              </a>
            </div>

            <div class="navbar-collapse collapse">
              <div class="nav navbar-nav navbar-right" style="margin-left: 2em">
                <li><a class="hvr-underline-from-left" href="/">Home</a></li>
                <li><a class="hvr-underline-from-left" href="/servers">Servers</a></li>
                <li><a class="hvr-underline-from-left" href="/modpacks">Modpacks</a></li>
                <li><a class="hvr-underline-from-left" href="/staff">Staff</a></li>
                <li><a class="hvr-underline-from-left" href="http://discord.digitalhazards.net">Discord</a></li>
                <li><a class="hvr-underline-from-left" href="https://store.digitalhazards.net">Donate</a></li>
                <li><a class="hvr-underline-from-left" href="https://forum.digitalhazards.net">Forum</a></li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

