<!DOCTYPE html>

<html lang="en">
  <!-- ▒█▀▀▀ ▒█▀▀▀█ ▒█▄░▒█ ▀█▀ ▀▄▒▄▀ -->
  <!-- ▒█▀▀▀ ▒█░░▒█ ▒█▒█▒█ ▒█░ ░▒█░░ -->
  <!-- ▒█░░░ ▒█▄▄▄█ ▒█░░▀█ ▄█▄ ▄▀▒▀▄ -->


  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta content="Snowblind Networks, One of the best modded minecraft communities around! We supply quality servers and modpacks for players around the globe! Come and join today!" name="description">
    <meta content="minecraft, modded, server, Insyder, Insyder1201, Snowblind, network, hosted, ovh," name="keywords">
    <meta content="#D8001C" name="theme-color">

    <title>{{ page.title }}</title>
    <link href="/assets/favicon/favicon.ico?29452" rel="icon">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/hover.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/style-terms.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/responsive.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/2cbc5e0db3.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="/assets/js/csi.min.js"></script>
  </head>
  <body>
{% include navigation.html %}
    <div class="intro" id="pageIntro">
      <div class="container">
        <p id="pageTitle">{{ page.title }}</p>
      </div>
    </div>
{{ content }}
{% include footer.html %}
    <script src="/assets/js/bootstrap.min.js">
    </script>
  </body>
</html>
